


<div class="container row ">

<%= form_tag tasks_path, method: "get" do %>
  <div class="field col-md-1"></div>
  <div class="field col-md-8">
  <!--<%= label_tag(:search, "Search for:") %>-->
    <%= text_field_tag "search", searchP, placeholder: "Enter your space-seperated task table search terms here...", class: "text-search" %>

  </div>

  <div class="actions col-md-2">
    <%= submit_tag "Search", :class => "btn btn-search", :id => "searchButton"%>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $('#searchButton').click(function(){
    event.preventDefault();
    //$('#viewAddress').hide();
    //$('#insertText').text("Hello world!");
    //var addressText = $('#addressTextField').val();
    //$('#insertText2').text(addressText);
  }
</script>