<p>Task Title:<%= object.title %></p>
<p>Address:<%= object.address %></p>
<p>Payment:<%= object.payment_description %></p>
<p id="taskPoster"></p>
<p id="taskStatus"></p>

<%= button_to('Take me to task page!', task_path(object), method: "get", class: "btn btn-search") %>

<script type="text/javascript">
	$(document).ready(function() {
		alert("in js");
		$('#showMore').click(function(){
			$('#showMore').hide();
			$('#taskPoster').text("Task Poster: "+"idk");
			$('#taskPoster').text("asdf");
		}
	});


</script>
