<div class="container">
<div class="center jumbotron squidb" style="">
<h1>Unaccepting a Task</h1>

<%= render 'formUnaccept' %>

<%= link_to 'Show Task', @task %> |
<%= link_to 'Back to Open Tasks', tasks_path %>
</div>
</div>
