
  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
          <h2 class="section-heading">Two Ways To SquidRun</h2>
          	<br>
              <div class="col-lg-6 text-center">
                  <h2 class="section-heading">Post</h2>
                  <h3 class="section-subheading text-muted">Need something done? Make a post and wait!</h3>
              </div>
              <div class="col-lg-6 text-center">
                  <h2 class="section-heading">Run</h2>
                  <h3 class="section-subheading text-muted">Have some free time? Want some easy money? Take on running a task!</h3>
              </div>
          </div>


          <div class="row">
              <div class="col-lg-6">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                          	<br><br>
                          	<b>(1)</b><br>
                          	<b>Post a Task!</b>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br>
                          	<b>(3)</b><br>
                          	<b>SquidRunner accepts & completes task.</b><br>
                          	<b>Probably by delivering items to you.</b>
                          	<b></b>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br>
                          	<b>(3)</b><br>
                          	<b>Pay your SquidRunner via cash, venmo, or in form of promised payment!</b><br>
                          	<b></b>
                          </div>
                      </li>
                  </ul>
              </div> <!--col-lg-6 -->
              <div class="col-lg-6">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                          	<br><br>
                          	<b>(1)</b><br>
                          	<b>Browse tasks and accept one!</b>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br><br>
                          	<b>(2)</b><br>
                          	<b>Complete the task and make any necessary deliveries!</b><br>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br>
                          	<b>(3)</b><br>
                          	<b>Get paid from your poster via cash, venmo, or in form of promised payment!</b><br>
                          	<b></b>
                          </div>
                      </li>
                  </ul>
              </div> <!--col-lg-6 -->
          </div> <!--row -->


      </div>
  </section>