
  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
          <h2 class="section-heading">Two Ways To SquidRun</h2>
		<br>
          </div>

          <div class="row text-center">
              <div class="col-md-6">
              <div class="col-lg-6 text-center">
                  <h2 class="section-heading">Post</h2>
                  <h3 class="section-subheading text-muted">Need something done? Make a post and wait!</h3>
		<br>
              </div>
	      <div class="col-lg-6">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                          	<br><br>
                          	<b>(1)</b><br>
                          	<b>Post a Task!</b>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br>
                          	<b>(2)</b><br>
                          	<b>A SquidRunner accepts & completes task successfully!</b><br>
                          	<b></b>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br>
                          	<b>(3)</b><br>
                          	<b>Pay your SquidRunner via cash, venmo, or other method!</b><br>
                          	<b></b>
                          </div>
                      </li>
                  </ul>
              </div> <!--col-lg-6 -->
              </div>
              <div class="col-md-6">
		<div class="col-lg-6 text-center">
                  <h2 class="section-heading">Run</h2>
                  <h3 class="section-subheading text-muted">Have some free time? Want some easy money? Run a task!</h3>
              </div>
              <div class="col-lg-6">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                          	<br><br>
                          	<b>(1)</b><br>
                          	<b>Browse tasks and accept one!</b>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br><br>
                          	<b>(2)</b><br>
                          	<b>Complete the task!</b><br>
                          </div>
                      </li>
                      <li class="timeline-inverted">
            			  <div class="timeline-image">
                          	<br>
                          	<b>(3)</b><br>
                          	<b>Get paid from your poster via cash, venmo, or other method!</b><br>
                          	<b></b>
                          </div>
                      </li>
                  </ul>
              </div> <!--col-lg-6 -->
              </div>
          </div>


  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Frequently Asked Questions </h2>
                  <h3 class="section-subheading text-muted">A quick-help guide to common questions.</h3>
              </div>
          </div>
          <div class="row text-center">
                  <h4 class="service-heading">What is SquidRunner?</h4>
                  <p class="text-muted">SquidRunner is a platform for people to publish and accept tasks!</p>
		<br>
                  <h4 class="service-heading">How do I start SquidRunning?</h4>
                  <p class="text-muted">Sign up for an account and start publishing or running tasks.</p>
		<br>
                  <h4 class="service-heading">How do I publish a task?</h4>
                  <p class="text-muted">Go to the "Create Task" tab and fill out the form.</p>
		<p class ="text-muted"> Your published tasks will be in your Home page.</p>
		<br>
                  <h4 class="service-heading">How do I accept a task?</h4>
                  <p class="text-muted">Go to the "Open Tasks" tab and find a task that you want to accept.</p>
		<p class ="text-muted"> Your accepted tasks will be in your Home page.</p>
		<br>
                  <h4 class="service-heading">How do I pay or get paid?</h4>
                  <p class="text-muted">The compensation is listed in the task description, and you can pay in person.</p>
		<p class ="text-muted">No payment goes through this site; cash or Venmo is easiest.</p>
		<br>
                  <h4 class="service-heading">What do I do if I forgot my password?</h4>
                  <p class="text-muted">Go to the Log In page and follow the link. An email will be sent to you.</p>
          </div>
      </div>
  </section>

      </div>
  </section>