<div class="container">
<div class="center jumbotron" style="">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Back', tasks_path %>
</div>
</div>
