<footer class="footer">
  <small>
    The <a href="http://www.princeton.edu/~yc4">Kraken</a>
    by <a href="http://www.eddible.net/">Alex, Eddie and Zhengyang </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Dummy",   '#' %></li>
      <li><%= link_to "Dummy", '#' %></li>
    </ul>
  </nav>
</footer>
